div.flag {
    width: 400px;
    height: 300px;
    border: 1px dotted #fff;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

div.flag:hover
{
    opacity: 0.8;
    filter: alpha(opacity=80);
    border: 1px dotted #000;
}

div.flag.active
{
    opacity: 1;
    filter: alpha(opacity=100);
    border: 1px solid #000;
}

div.en {
    background: #fff url("/bundles/jakubmylangs/images/flag.en.jpg") no-repeat center; 
}

div.de {
    background: #fff url("/bundles/jakubmylangs/images/flag.de.jpg") no-repeat center; 
}

/*
label.required
{
    width: 100px;
}
*/
