{% extends "JakubMylangsBundle::base.html.twig" %}
{% block content %}
<div>
	<div class="en"></div>
	<div class="de"></div>
</div>
<div>
	<input type="text" id="login" name="login" value=""/>
	<input type="text" id="pass" name="pass" value=""/>
	<input type="submit" id="lgb" value="Login"/>
</div>
{% endblock %}